footer.rc-footer
  .rc-footer__identity
    = link_to helpers.root_path, class: 'rc-footer__brand' do
      = render GemComponent.new(uid: 'footer')
      span.rc-footer__wordmark rubyco.in
    .rc-footer__meta
      = "© #{Time.current.year} #{cv['name']}"
      br
      = t_field(cv['location'])

  .rc-footer__sections
    - links.each do |label, path|
      = link_to label, path, class: 'hover-link'

  .rc-footer__contacts
    - rows = contacts.map { |value, href| link_to(value, href, class: 'hover-link', target: '_blank', rel: 'noreferrer') }
    = safe_join(rows, tag.br)
