- content_for :title, full_title(t('.title'))
- page_meta description: t('.title')

.au-page
  h1.au-page__title= t('.title')

  = render ErrorsComponent.new(object: resource, tone: :site)

  = form_for(resource, as: resource_name, url: password_path(resource_name),
             html: { method: :put, class: 'au-form' }) do |f|
    = f.hidden_field :reset_password_token

    .au-field
      = f.label :password, t('.new_password'), class: 'au-label'
      - if @minimum_password_length
        .au-hint= t('.minimum', count: @minimum_password_length)
      = render 'devise/shared/password_input', f: f, field: :password, autocomplete: 'new-password', autofocus: true

    .au-field
      = f.label :password_confirmation, t('.confirm_password'), class: 'au-label'
      = render 'devise/shared/password_input', f: f, field: :password_confirmation, autocomplete: 'new-password'

    = f.submit t('.submit'), class: 'rc-button rc-button--primary'
