footer.wk-footer
  .wk-footer__identity
    = link_to root_path, class: 'wk-footer__brand' do
      = render 'work/gem', uid: 'footer'
      span.wk-footer__wordmark rubyco.in
    .wk-footer__meta
      = "© #{Time.current.year} #{Portfolio.cv['name']}"
      br
      = t_field(Portfolio.cv['location'])

  .wk-footer__sections
    = link_to t('work.footer.journal'), root_path, class: 'hover-link'
    = link_to t('work.footer.work'), work_path, class: 'hover-link'
    = link_to t('work.footer.studio'), studio_path, class: 'hover-link'
    = link_to t('work.footer.contact'), contact_path, class: 'hover-link'

  .wk-footer__contacts
    - links = footer_contacts.map { |value, href| link_to(value, href, class: 'hover-link', target: '_blank', rel: 'noreferrer') }
    = safe_join(links, tag.br)
