- content_for :title, full_title(t('titles.faq_title'))
- page_meta description: t('titles.faq_title')

.fq-page
  header.fq-page__header
    .rc-eyebrow= "/#{t('titles.faq')}"
    h1.fq-page__title
      = t('titles.faq_title')
      = ' '
      span.fq-page__mark ·

  - @entries.each do |entry|
    section.fq-entry
      h2.fq-entry__question= entry[:question]
      .fq-entry__answer
        - entry[:answers].each do |answer|
          - if answer[:markup]
            p== answer[:text]
          - else
            p= answer[:text]
