- content_for :title, full_title(t('titles.faq_title'))
- page_meta description: t('titles.faq_description')

.fq-page
  = render PageHeadComponent.new(title: t('titles.faq_title'), uid: 'faq-anchor')

  section.rc-band.fq-page__band
    .rc-wrap
      - @entries.each do |entry|
        section.fq-entry
          h2.fq-entry__question= entry[:question]
          .fq-entry__answer
            - entry[:answers].each do |answer|
              - if answer[:markup]
                p== answer[:text]
              - else
                p= answer[:text]
