= turbo_frame_tag @tag do
  = form_with model: [:management, @tag], class: "form-editor-tag" do |f|
    .tag-editor
      = f.text_field :title, class: 'standart-input', placeholder: t('.title_label'), aria: { label: t('.title_label') }
      .tag-editor__actions
        = button_tag '', type: 'submit', class: 'save-tag', aria: { label: t('global.button.save') }
        = link_to '', management_tags_path, class: 'cancel-tag-icon', aria: { label: t('global.button.cancel') },
          data: { turbo_frame: '_top' }
