- tag = local_assigns.fetch(:tag, @tag)
= turbo_frame_tag tag do
  = render ErrorsComponent.new(object: tag, tone: :admin)
  = form_with model: [:management, tag], class: 'mg-tag-editor' do |f|
    = f.text_field :title, class: 'mg-input', placeholder: t('.title_label'), aria: { label: t('.title_label') }
    .mg-tag-editor__actions
      = button_tag type: 'submit', class: 'mg-icon-btn mg-icon-btn--ok', aria: { label: t('global.button.save') } do
        = icon(:check)
      = link_to management_tags_path, class: 'mg-icon-btn mg-icon-btn--danger', aria: { label: t('global.button.cancel') },
        data: { turbo_frame: '_top' } do
        = icon(:delete)
